@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'),  url('fonts/oxigen300.woff') format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'),  url('fonts/oxigen400.woff') format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'),  url('fonts/oxigen700.woff') format('woff');
}

body{font-family: 'Oxygen', sans-serif;font-weight: 400;background-color: #eee;color:#777}
a,table,button,tbody{outline: none;}



#header{background-color:#716058;padding:10px 20px 5px 20px;color:#FFF;border-bottom: 7px solid #56433b}
#header a{color:#FFF;}
#header a:hover{text-decoration: underline;}
#header #logo{vertical-align:-5px;height:35px}
#header div,h1,h2{display:inline}
#header h1{font-weight:700;margin-left:10px}
#header h2{font-weight:300;margin-left:5px}

#footer{color:#aeaeae;border-top:1px solid rgba(0,0,0,.1);text-align:center;font-size:77%;padding-top:10px}
#footer .menu{margin-left:20px;color:#aeb3c7}
#footer .menu:hover{color:#5b3777;text-decoration: none}
#footer .menu.selected{color:#5b3777}
#footer .adv {margin-top:20px}
#footer .adv a{color:#aeaeae}




#bd{background-color:#f6f6f6;padding:15px 0px 100px 0px;border-bottom: 1px solid rgba(255,255,255,.3)}
#bd_header{padding:0px 20px;;min-height: 30px;}

#bd h1{font-size:120%;}
.block{padding:0px;;margin-top:20px;}
.block.warning{border:1px solid red;}
.title{text-align:center;padding-bottom:20px;}

#funders_chooser{padding-bottom:10px;border-bottom:1px dashed #ccc}

#funders_chooser,#journal_input_container,#submit_query{margin: 0px auto;
text-align:center;
}
.funder{text-align:center;margin-right:20px;cursor:pointer;width:90px;
display:inline-block;  margin-bottom:10px

}

.journal_sources{width:450px;display:inline-block;height:70px}

.instructons{font-size:70%;width:100%;margin-bottom:5px}



.funder.last{margin-right:0px}
.funder .small{font-size:60%;position:relative;top:-3px}

.funder .logo{border:1px solid #ccc;height:60px}

.input{background-color:#fff;border:1px solid #ccc}

#select_files{width:420px;padding:0px;font-size:100%}
#journals{width:420px;padding:10px;font-size:100%;height:21px}

.button{font-size:100%;padding:10px 0px;border:2px solid #56433b;color:#fff;background-color:#716058;cursor:pointer}
#submit{width:400px;margin-top:60px;}
#download_result button{width:250px;}


#results_overview td{padding:3px 20px 2px 20px;}
#results_overview td{border-top:1px solid #ccc}
#results_overview tr.total td{font-weight: 700;}
#results_overview tr.first td,#results_overview tr.total td{border-top:1px solid #777}


#results_overview{ border-collapse: collapse;margin:0 auto;border-top:1px solid #777;border-bottom:1px solid #777}
#results_table{margin-top:20px;font-size:80%}

.yui3-datatable-table {border-top:1px solid #777;}
.yui3-datatable-table th{border-bottom:1px solid #aaa;padding:2px 0px}
.yui3-datatable-message td{padding:20px}
.yui3-datatable-table td{border-bottom:1px solid #aaa;padding:2px 0px}
.yui3-datatable-even td{background-color:#E1CBB3;}